APPIUM_SERVER_URL=http://127.0.0.1:4723
APPIUM__APP_PACKAGE=com.example.yourapp
APPIUM__APP_ACTIVITY=com.example.yourapp.SplashActivity
APPIUM__APP_WAIT_ACTIVITY=com.example.yourapp.MainActivity
APPIUM__NO_RESET=false
IMPLICIT_WAIT=10